html {
    scroll-behavior: smooth;
    scroll-padding-top: 65px;
}

/* Animacion al h1 */
#hero h1 {
    /*animacion - duración - animation-function*/
    animation: fade 1s ease-in, slide-right 1.3s ease-in-out;
}
#container_description p {
    /*animacion - duración - animation-function*/
    animation: fade 1s ease-in, slide-up 1.7s ease-in-out;
}
.hero-info-btn {
    animation: fade 1s ease-in, slide-up 2s ease-in-out;
}





.social_email:hover {
    background-color: var(--fire);
    animation: bounce_613 0.4s linear;
}

.social_Linkedin:hover {
    background-color: var(--primary);
    animation: bounce_613 0.4s linear;
}

.social_wsp:hover {
    background-color: var(--msj-succes);
    animation: bounce_613 0.4s linear;
}

.social_CV:hover {
    background-color: var(--secondary);
    animation: bounce_613 0.4s linear;
}
 


/*------------------ Animaciones --------------------*/
/* Animacion fade */
/*Funcionamiento: pasa de opacidad 0 a opacidad 1*/
@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Animacion slide arriba */
/*Funcionamiento: Hacemos llegar al elemento animado desde abajo*/
@keyframes slide-up {
    from {
        transform: translateY(100px);
    }

    to {
        transform: translateY(0);
    }
}

/* Animacion slide derecha */
/*Funcionamiento: Hacemos llegar al elemento animado desde la derecha*/

@keyframes slide-right {
    from {
        transform: translateX(100px);
    }

    to {
        transform: translateX(0);
    }
}




/* efecto de salto */
@keyframes bounce_613 {
    40% {
        transform: scale(1);
    }

    60% {
        transform: scale(0.8);
    }

    80% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}
