@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;600;700&family=Kdam+Thmor+Pro&family=Montserrat:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");



:root {
    --back: #000000;
    --bg-black: rgba(7, 6, 6, 0.8);
    --bg-black-ligth: #252525;
    --white: #ffffff;
    --white-ligth: #fbfbfb77;
    --marron: #3b3b3b;
    --gray: #404244;
    --mist: #90afc5;
    --stone: #336b87;
    --shadow: #2a3132;
    --autumn-foliage: #763626;
    --msj-succes: rgba(10, 248, 10, 0.8);
    --msj-warning: rgba(233, 207, 10, 0.8);
    --msj-error: rgba(237, 9, 9, 0.8);
    --background: #02050e;
    --primary: #1e50ff;
    --secondary: #272d37;
    --btn-bg: #050d26;
    --bg-azul-10: #e9eeff;
    --bg-white: #fff;
    --bg-electric: #f0fbff;
    --nav-bg: #0f1525;
    /* Text colors */
    --text-gray: #adb9c7;
    --text-white: #f3f4f6;
    /* Decoration */
    --fire: #ff6d00;
    --electric: #64d3ff;
    --dorado: #ffd700;
}

/*-------------------------navbar ------------------------*/
.navbar,
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
    font-family: "Poppins", sans-serif;
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 99;
    transition: 0.3s;
}

.navbar {
    gap: 150px;
}

.navbar-list {
    gap: 30px;
    font-size: 30px;
    font-weight: 600
}

    .navbar-list a {
        color: var(--text-gray);
        font-size: 20px;
    }

    .navbar-list li:first-child > a {
        color: var(--text-white);
        font-weight: 600;
    }

/* hover link */
.navbar-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 99%;
    height: 2px;
    transform-origin: left;
    transform: scaleX(0);
    transition: 0.3s;
    background-color: var(--background);
}

.navbar-link:hover::after {
    transform: scaleX(1);
}
/*Hover de los elementos "a" del navbar*/
.navbar-list li {
    position: relative;
    padding: 0;
}

    .navbar-list li a::after {
        content: "";
        height: 2px;
        width: 100%;
        background: var(--text-gray);
        position: absolute;
        bottom: 0;
        left: 0;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.15s ease;
    }

    .navbar-list li a:hover::after {
        transform-origin: bottom left;
        transform: scaleX(1);
    }

.logo_container span {
    background: linear-gradient(to top, var(--msj-error), var(--dorado));
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    font-size: 20px;
    font-family: "Kdam Thmor Pro", sans-serif;
}

.logo_container p {
    font-size: 16px;
    color: var(--white);
}

.img-logo {
    filter: drop-shadow(0 0 10px rgba(255, 215, 0, 0.5)); /* Color dorado con transparencia */
    height: 80px
}

.menu-icon {
    font-size: 30px;
    color: var(--white);
    display: none
}

/*------------------------- inicio ------------------------*/

#hero {
    font-family: "Kdam Thmor Pro", sans-serif;
    font-family: "Poppins", sans-serif;
    padding-top: 80px;
    height: calc( 100vh - 80px);
    font-size: 20px;
    background-image: url("../img/bg-computers-black.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    /*Coloca la superposición detrás del contenido */
}


    /* #hero::before {
        content: ""; 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);  
        z-index: -1; 
    }*/
    #hero h1 {
        color: var(--white);
        font-weight: 900;
        text-align: center;
        font-family: "Kdam Thmor Pro", sans-serif;
    }

#container_img span {
    background: linear-gradient(to top, var(--msj-error), var(--dorado));
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    font-size: 48px;
    font-family: "Kdam Thmor Pro", sans-serif;
}

#hero p {
    color: var(--white);
    font-size: 20px;
}


#hero .hero-info-btn {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    width: 100%;
    color: var(--white);
}

#hero .btn-more {
    position: relative;
    display: inline-block;
    color: var(--white);
    width: 120px;
    padding: 10px 0px;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    transition: 0.3s;
    filter: none;
    outline: 2px solid var(--white);
}


    #hero .btn-more:hover {
        color: var(--dorado);
        transition: all 0.2s ease-in;
        outline: 2px solid var(--dorado);
        box-shadow: 0 5px 5px var(--dorado);
        box-shadow: var(--white) 0 0 5px;
    }


/*///////////////////////////// servicios*/

#servicios {
    display: flex;
    background: var(--nav-bg);
    flex-direction: column;
    gap: 35px
}

.servicios_Container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

#servicios h1 {
    color: var(--white);
    font-weight: 900;
    text-align: center;
}

.card_Servicios {
    border-radius: 16px;
    box-shadow: 0 5px 5px var(--dorado);
    box-shadow: var(--back) 0 0 10px;
    color: var(--background);
    width: 300px;
}

    .card_Servicios:hover {
        box-shadow: var(--dorado) 0 0 10px;
        color: var(--background);
        transform: scale(1.1);
        transition: all 0.3s linear;
    }

    .card_Servicios img {
        border-radius: 15px 15px 0 0;
    }

    .card_Servicios h5 {
        font-size: 20px;
        font-weight: 600;
        font-family: "Kdam Thmor Pro", sans-serif;
    }

    .card_Servicios p {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
    }


/*------------------------- precios ------------------------*/
#precios {
    display: flex;
    flex-direction: column;
    gap: 35px
}

    #precios h1 {
        color: var(--back);
        font-weight: 900;
        text-align: center;
    }

.card__Precios {
    --white: hsl(0, 0%, 100%);
    --black: hsl(240, 15%, 9%);
    --paragraph: hsl(0, 0%, 83%);
    --line: hsl(240, 9%, 17%);
    --primary: hsl(189, 92%, 58%);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 1rem;
    width: 300px;
    background-color: hsla(240, 15%, 9%, 1);
    background-image: radial-gradient( at 88% 40%, hsla(240, 15%, 9%, 1) 0px, transparent 85% ), radial-gradient(at 49% 30%, hsla(240, 15%, 9%, 1) 0px, transparent 85%), radial-gradient(at 14% 26%, hsla(240, 15%, 9%, 1) 0px, transparent 85%), radial-gradient(at 0% 64%, hsl(189, 99%, 26%) 0px, transparent 85%), radial-gradient(at 41% 94%, hsl(189, 97%, 36%) 0px, transparent 85%), radial-gradient(at 100% 99%, hsl(188, 94%, 13%) 0px, transparent 85%);
    border-radius: 1rem;
    box-shadow: 0px -16px 24px 0px rgba(255, 255, 255, 0.25) inset;
    transition: background-image 1.3s ease;
}

    .card__Precios .card__border {
        overflow: hidden;
        pointer-events: none;
        position: absolute;
        z-index: -10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        background-image: linear-gradient( 0deg, hsl(0, 0%, 100%) -50%, hsl(0, 0%, 40%) 100% );
        border-radius: 1rem;
    }

        .card__Precios .card__border::before {
            content: "";
            pointer-events: none;
            position: fixed;
            z-index: 200;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%), rotate(0deg);
            transform-origin: left;
            width: 200%;
            height: 10rem;
            background-image: linear-gradient( 0deg, hsla(0, 0%, 100%, 0) 0%, hsl(189, 100%, 50%) 40%, hsl(189, 100%, 50%) 60%, hsla(0, 0%, 40%, 0) 100% );
            transition: all 0.3s linear;
        }



    .card__Precios .card_title__container .card_title {
        font-size: 1rem;
        color: var(--white);
        font-size: 25px;
        font-weight: 600;
    }

    .card__Precios .card_title__container .card_paragraph {
        margin-top: 0.25rem;
        width: 100%;
        color: var(--paragraph);
        line-height: 1.3;
        font-family: "Poppins", sans-serif;
    }

    .card__Precios .line {
        width: 100%;
        height: 0.1rem;
        background-color: var(--dorado);
        border: none;
    }

    .card__Precios .card__list {
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 0.5rem;
        padding: 0;
    }


        .card__Precios .card__list .card__list_item {
            display: flex;
            align-items: center;
            gap: 1.1rem;
        }

            .card__Precios .card__list .card__list_item .check {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 1rem;
                height: 1rem;
                background-color: var(--primary);
                border-radius: 50%;
            }

                .card__Precios .card__list .card__list_item .check .check_svg {
                    width: 0.75rem;
                    height: 0.75rem;
                    fill: var(--black);
                }

            .card__Precios .card__list .card__list_item .list_text {
                color: var(--white);
            }

    .card__Precios .button {
      
        cursor: pointer;
        padding: 0.5rem;
        width: 90%;
       /* background-image: linear-gradient( 0deg, hsl(189, 92%, 58%), hsl(189, 99%, 26%) 100% );*/
        font-size: 16px;
        color: var(--white);
        border: 0;
        border-radius: 9999px;
      background:none;
        color: var(--white);
        transition: all 0.2s ease-in;
        outline: 2px solid var(--dorado);
       
        text-align:center;
    }
.button:hover {
    background-image: radial-gradient( at 88% 40%, hsla(240, 15%, 9%, 1) 0px, transparent 85% ), radial-gradient(at 49% 30%, hsla(240, 15%, 9%, 1) 0px, transparent 85%), radial-gradient(at 14% 26%, hsla(240, 15%, 9%, 1) 0px, transparent 85%), radial-gradient(at 0% 64%, hsl(189, 99%, 26%) 0px, transparent 85%), radial-gradient(at 41% 94%, hsl(189, 97%, 36%) 0px, transparent 85%), radial-gradient(at 100% 99%, hsl(188, 94%, 13%) 0px, transparent 85%);
    box-shadow: 0px -16px 24px 0px rgba(255, 255, 255, 0.25) inset;
}
.card__Precios:hover {
    background-image: radial-gradient(at 88% 40%, #2e678d 0px, transparent 85%), radial-gradient(at 49% 30%, hsla(240, 15%, 9%, 1) 0px, transparent 85%), radial-gradient(at 14% 26%, hsla(240, 15%, 9%, 1) 0px, transparent 85%), radial-gradient(at 0% 64%, hsl(0deg 0% 0%) 0px, transparent 85%), radial-gradient(at 41% 94%, hsl(0deg 0% 0%) 0px, transparent 85%), radial-gradient(at 100% 99%, hsl(0deg 0% 0%) 0px, transparent 85%);
    box-shadow: var(--dorado) 0 0 10px;
    transition: all 0.3s linear;
}




#contact {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
    background: var(--nav-bg);
    /* max-width: 1200px; */
    width: 100%;
    gap: 10px;
}

    #contact h1 {
        color: var(--white);
        font-weight: 600;
        text-align: center;
        font-family: "Kdam Thmor Pro", sans-serif;
    }

    #contact h6 {
        color: var(--white);
        font-weight: 200;
        text-align: center;
        font-family: "Poppins", sans-serif;
    }



.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 20px;
}
.contact-container_dev {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.social {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

    .social a {
        color: var(--white);
        width: 100px;
        padding: 8px 0px;
        border-radius: 10px;
        font-size: 14px;
        text-align: center;
        transition: 0.3s;
    }

.footer-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 5px;
    color: var(--white);
}

.footer-links-title {
    font-size: 24px;
    font-family: "Domine", serif;
}

.footer-links li > a {
    color: var(--white);
    font-family: "Kdam Thmor Pro", sans-serif;
    display: flex;
    gap: 5px;
    font-size: 20px;
    margin-left: 51px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

#footer{

 display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--back);
  color: var(--white);
  padding: 10px 20px;
}


.Footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px 0;
}